{% extends 'base.html' %} {% block content %}
<div id="app" class="container">
    <h3>留言板：</h3>
    <ul class="form-group">
        {% for message in messages%}
        <li class="list-group-item row">
            <span class="col-sm-1">{{ message.username }}</span>
            <span class="col-sm-4">{{ message.message_content }}</span>
            <span class="col-sm-2">{{ message.message_time }}</span>
            <button class="col-sm-1 btn btn-danger">删除</button>
            <button class="col-sm-1 btn btn-info">修改</button>
        </li>
        {% endfor %}
    </ul>

    <br>
    <br>
    <br>
    <form class="form-horizontal" method="post">
        <div class="form-group">
            <label for="author" class="col-sm-1 control-label">
                    用户名：
                </label>
            <input type="text" id="author" name="username" class="form-control">
            <label for="content" class="col-sm-1 control-label">
                    留言：
                </label>
            <input type="text" id="content" class="form-control" name="message_content">
            <input type="submit" value="提交" class="btn btn-success col-sm-1 col-sm-push-9">
            <input type="reset" value="清空" class="btn btn-error col-sm-1 col-sm-push-9" onclick="clear_content">
        </div>
    </form>
</div>
<script>
    function clear_content() {
        document.getElementById("author").value = "";
        document.getElementById("content").value = "";
    }
</script>
{% endblock %}