<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
    <link rel="shortcut icon" href="{{url_for('static',filename='images/favicon.ico')}}" type="image/x-icon">
    <title>{{ name }}'s Watchlist</title>
</head>

<body>
    <h2>{{ name }}'s Watchlist</h2>
    <img src="{{url_for('static', filename='images/avatar.png')}}" alt="avatar" class="avatar">
    <p>{{ movies|length }} Titles</p>
    <ul class="movie-list">
        {% for movie in movies %}
        <li>{{ movie.title }}-{{movie.year}}</li>
        {% endfor %}
    </ul>

    <img src="{{url_for('static', filename='images/totoro.gif')}}" alt="totoro" class="totoro">
    <footer>
        <small>&copy;2020
            <a href="">HelloFlask</a>
        </small>
    </footer>
</body>

</html>